* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* .flr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
* .flc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 25px 10vw;
  background-color: #ebebf0;
  color: #141010;
  font-family: "Pangram";
}
body .header {
  margin-bottom: 5vh;
  padding-top: 5vh;
}
body .header .app-title {
  margin-bottom: 10px;
  font-size: 25px;
}
body .header .app-scope {
  width: 70vw;
  text-align: center;
}
body .calculation {
  margin-bottom: 5vh;
  width: 65vw;
}
body .calculation .input-box > input {
  height: 8vh;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #ebebf0;
  color: #141010;
  font-size: 12px;
  font-family: "Pangram";
  border: none;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body .calculation .btn-box {
  justify-content: space-between;
  margin-top: 10px;
}
body .calculation .btn-box .btn {
  height: 50px;
  padding: 0px 25px;
  border: none;
  border-radius: 20px;
  background-color: #017585;
  color: #ebebf0;
  font-size: 14px;
  font-weight: 600;
  font-family: "Pangram";
}
body .calculation .btn-box .btn:last-child {
  margin-left: 10px;
  background-color: #D9DAE0;
  color: #141010;
}
body .result .result-box {
  margin-bottom: 15px;
}
body .result .result-box p {
  font-size: 20px;
  font-weight: 600;
  color: #017585;
}
body .result .result-box h1 {
  font-size: 60px;
  color: #017585;
}
body .result .operation-box {
  margin-bottom: 2vh;
}
body .result .operation-box .operation-btn {
  margin-bottom: 10px;
  text-decoration: underline;
}
body .result .operation-box .operation {
  font-size: 20px;
  font-weight: 600;
  color: #141010;
}

@media (min-width: 768px) {
  body.flc {
    padding: 10vh 25vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  body.flc .header {
    align-items: flex-start;
    padding-top: 0;
    margin-bottom: 100px;
  }
  body.flc .header .app-title {
    margin-bottom: 2vh;
  }
  body.flc .header .app-scope {
    text-align: left;
    width: 20vw;
  }
  body.flc .calculation {
    width: auto;
    margin: 0;
  }
  body.flc .calculation .input-box input {
    width: 15vw;
    margin-bottom: 1vh;
  }
  body.flc .calculation .btn-box {
    margin-top: 1vh;
  }
  body.flc .result {
    position: absolute;
    bottom: calc(50% - 150px);
    left: 25vw;
    align-items: start;
  }
  body.flc .result .result-box {
    flex-direction: row;
    align-items: flex-end;
  }
  body.flc .result .result-box h1 {
    position: relative;
    bottom: -9px;
    margin-left: 10px;
  }
  body.flc .result .operation-box {
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
  }
  body.flc .result .operation-box .operation-btn {
    margin-bottom: 0;
  }
  body.flc .result .operation-box .operation {
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */